/*
ce fichier css aurait pu être mieux géré, en effet nous aurions pu rassembler plusieurs classes ensembles si une étude précédant le code plus approfondie avait été faite au préalable..
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font: normal 16px sans-serif;
  color: #555555;
}

body {
  height: 100%;
  background: linear-gradient(
    to right,
    #ffdcc4 70%,
    #2c2622 70%
  );
  align-items: center;
}

ul,
nav {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  opacity: 0.8;
}

a:hover {
  opacity: 1;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2% 0;
}

span {
  margin: 0 10px;
}

.container {
  height: 100%;
  flex-direction: column;
  overflow: auto;
}

.banner {
  float: left;
  margin-top: 25vh;
  margin-left: 5vw;
}
.titlebanner {
  font-size: 48px;
}

.descbanner {
  margin-top: 2vh;
  font-size: 18px;
}

.buttonbanner {
  width: fit-content;
  background: #2c2622;
  color: white;
  margin-top: 1vh;
  padding: 1vh 3vw;
  box-shadow: 5px 5px 2px 1px black;
  cursor: pointer;
}

.mannequin {
  margin-right: 17%;
  margin-top: 10%;
}

.logotitle {
  padding-left: 3vw;
  padding-top: 4vh;
  font-family: "Gabriela Stencil";
  color: #2c2622;
}

.signout {
  text-align: center;
  padding-top: 7vw;
}

h1 {
  text-align: left;
}

.resume {
  text-align: center;
}

.resumeGroup {
  margin-top: 6vh;
}

.logolink {
  color: white;
  font-weight: bold;
}

.internallink {
  color: black;
  text-align: left;
}
.tryonGrid {
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
  width: 90vw;
  height: 80vh;
  margin-inline: auto;
  margin-top: 6vh;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: brown;
  grid-area: 1 / 1 / 2 / 6;
  max-height: 50%;
}

.clothes {
  display: flex;
  grid-area: 1 / 2 / 6 / 5;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.mainhat {
  overflow: hidden;
  grid-area: 1 / 2 / 2 / 4;
}
.mainshirt {
  overflow: hidden;
  grid-area: 2 / 2 / 3 / 4;
}
.mainpants {
  overflow: hidden;
  grid-area: 3 / 2 / 4 / 4;
}
.mainshoes {
  overflow: hidden;
  grid-area: 4 / 2 / 5 / 4;
}
.mainshoes img {
  max-height: 60%;
}
.lefthat {
  overflow: hidden;
  grid-area: 1 / 1 / 2 / 2;
}
.leftshirt {
  overflow: hidden;
  grid-area: 2 / 1 / 3 / 2;
}
.leftpants {
  overflow: hidden;
  grid-area: 3 / 1 / 4 / 2;
}
.leftshoes {
  overflow: hidden;
  grid-area: 4 / 1 / 5 / 2;
}
.righthat {
  overflow: hidden;
  grid-area: 1 / 4 / 2 / 5;
}
.rightshirt {
  overflow: hidden;
  grid-area: 2 / 4 / 3 / 5;
}
.rightpants {
  overflow: hidden;
  grid-area: 3 / 4 / 4 / 5;
}
.rightshoes {
  overflow: hidden;
  grid-area: 4 / 4 / 5 / 5;
}
img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
}
.imgside {
  max-width: 60%;
  max-height: 60%;
  margin: auto;
  display: block;
  opacity: 0.5;
}

.left {
  grid-area: 1 / 1 / 6 / 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.right {
  grid-area: 1 / 5 / 6 / 6;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  grid-area: 2 / 1 / 3 / 2;
}
.div3 {
  grid-area: 3 / 1 / 4 / 2;
}
.div4 {
  grid-area: 4 / 1 / 5 / 2;
}

.right button {
  float: left;
  color: #ffdcc4;
}

.left button {
  float: right;
  color: #2c2622;
}

.hat_item {
  max-height: 8%;
  border: 1px solid #2c2622;
  border-radius: 7px;
  float: left;
  margin-top: 4vh;
  margin-right: 1vw;
  height: 20vh;
  display: flex;
}

.hat_item img {
  max-width: 10vw;
  margin: auto;
}

.top_item {
  max-height: 15%;
  border: 1px solid #2c2622;
  border-radius: 7px;
  float: left;
  margin-top: 4vh;
  margin-right: 1vw;
  height: 20vh;
  display: flex;
}

.top_item img {
  max-width: 20vw;
  margin: auto;
}

.pants_item {
  max-height: 15%;
  border: 1px solid #2c2622;
  border-radius: 7px;
  float: left;
  margin-top: 4vh;
  margin-right: 1vw;
  height: 30vh;
  display: flex;
}

.pants_item img {
  max-width: 10vw;
  margin: auto;
}

.shoes_item {
  max-height: 8%;
  border: 1px solid #2c2622;
  border-radius: 7px;
  float: left;
  margin-top: 4vh;
  margin-right: 1vw;
  height: 20vh;
  display: flex;
}

.shoes_item img {
  max-width: 10vw;
  margin: auto;
}

.w-70 {
  width: 70vw;
}

.mt-1 {
  margin-top: 1vh;
}

.select_clothes {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-top: 5vh;
}
.hats {
  grid-area: 1 / 1 / 2 / 2;
  align-items: center;
  justify-content: center;
  margin: 2vh 1vw;
}
.tops {
  grid-area: 2 / 1 / 3 / 2;
  align-items: center;
  justify-content: center;
  margin: 2vh 1vw;
}
.pants {
  grid-area: 3 / 1 / 4 / 2;
  align-items: center;
  justify-content: center;
  margin: 2vh 1vw;
}
.shoes {
  grid-area: 4 / 1 / 5 / 2;
  align-items: center;
  justify-content: center;
  margin: 2vh 1vw;
}

input {
  margin-left: 1vw;
  margin-bottom: 2vh;
}

.user_creation {
  margin-top: 2vh;
}

#validate {
  position: fixed;
  bottom: 3%;
  right:32%;
  font-family: "Blacker Pro Text";
}

.blacker {
  font-family: "Blacker Pro Text";
}

.mt-10 {
  margin-top: 10%;
}
